/*@source code muhammad fajar saputra 01110216020
/*modified by cartridge

*{
	padding: 0px;
	margin: 0px;
	font-family: helvetica, arial;
}
body{
	height: 100%;
	background: #95a5a6;
}
.chat-box{
	position: absolute;
	bottom: 0px;
	background: #2980b9;
	height: 100%;
	width: 100%;
	border-radius: 5px 5px 0px 0px;
}
.chat-head{
	text-align: center;
	width: inherit;
	height: 50px;
	background: #3498db;
	border-radius: 5px 5px 0px 0px;
}
.chat-head h2{
	text-align: center;
	color: white;
	padding: 8px;
	display: inline-block;
}
.chat-head img{
	cursor: pointer;
	float: right;
	width: 25px;
	margin: 10px;
}
.chat-body{
	width: inherit;
	overflow: auto;
	margin-bottom: 45px;
}
.chat-text{
	position: fixed;
	bottom: 0px;
	height: 45px;
	width: inherit;
}
.chat-text textarea{
	width: 100%;
	height: inherit;
	box-sizing: border-box;
	border: 1px solid #295c87;
	padding: 10px;
	resize: none;
}
.chat-text textarea:active, .chat-text textarea:focus, .chat-text textarea:hover{
	border-color: #bdc3c7;
}
.msg-send{
	background: #ecf0f1;
}
.msg-receive{
	background: red;
}
.msg-send, .msg-receive{
	width: 300px;
	height: 35px;
	padding: 5px 5px 5px 10px;
	margin: 10px auto;
	border-radius: 3px;
	line-height: 30px;
	position: relative;
	color: #000;
}
.msg-receive:before{
	content: '';
	width: 0px;
	height: 0px;
	position: absolute;
	border: 15px solid;
	border-color: transparent #3498db transparent transparent;
	left: -29px;
	top: 7px;
}
.msg-send:after{
	content: '';
	width: 0px;
	height: 0px;
	position: absolute;
	border: 15px solid;
	border-color: transparent transparent transparent #ecf0f1;
	right: -29px;
	top: 7px;
}
.msg-receive:hover, .msg-send:hover{
	opacity: .9;
}
